# Dependencies
node_modules/
venv/
__pycache__/
.env

# Next.js
.next/
out/
build/
dist/

# Python
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

# System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Database
*.db
*.sqlite3
